.confirmation-container{
  text-align: center;
  background-color: #008ab0;
  color: white;
  width: 50%;
  font-size: large;
  height: 500px;
  margin: auto;
  padding: 100px;
  margin-top: 50px;
  border-radius: 5px;
  box-shadow: 5px 8px #c0bebe;
  .confirmation-details{
    padding-top: 20px;
  }
  h5 {
    padding-top: 10px;
  }
  .btn-index{
    margin-right: 150px;
    padding: 10px;
  }
}
