.card-grid{
  padding: 20px;
  align-items: center;
}

.btn-accept{
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #1EDD88;
  transition: background 0.3s ease;
}

.btn-accept:hover {
  background: #1BCB7F;
  color: white;
}

.booking-card {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  align-items: center;
}

.booking-carddashboard {
  overflow: hidden;
  height: 120px;
  width: 70%;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;

}

.booking-card h5 {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.booking-card p {
  font-size: 16px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  padding: 16px;
}

.container-dashboard{
  h1{
  text-align: center;
  margin: 40px;
}

h2{
  margin: 40px;
}
}

#papi {
  padding-bottom: 30px;
}

