// Specific CSS for your home-page


.list-title {
background-color: #0542F1;
color: white;
padding: 10px 0 10px;
text-align: center;
}

.list-container {
  background-color: #0542F1;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style-type: none;
  padding: 0;
  padding-top: 10px;
}

.list-title2 {
  text-align: center;
  padding-top: 30px;


}


.crazy-list {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style-type: none;
  padding-bottom: 100px;
  padding-left: 0;
}

.form-home {
  padding-top: 50px;
  display: flex;
  align-items: center;
}

.card {
  border-radius: 10px;
  border-color: rgb(194, 194, 194);
  box-shadow:  0 0 15px rgba(0,0,0,0.2);
  transition: 0.8s;
  &:hover{
    background-color: #91D1D9;
    box-shadow:  0 0 15px rgba(0,0,0,0.4);
    top: -5px;
  }
}

.number-home {
  color: #0542F1;
}

.title-3 {
  font-size: 40px;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;

}

.img-home-list {
   border-top-left-radius:10px;
   border-top-right-radius: 10px;
}

.title-4 {
  font-size: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  }

.container-feature-home {
  padding-bottom: 100px;
  background-image: url("https://i.ibb.co/cyTtBPT/Screenshot-2021-11-17-at-11-43-15.png");
  background-size: cover;
  background-position: center;

}

#main-logo{
  border-radius: 5px;
}

.form-home-banner {
  border-radius: 16px;
  height: 32px;
  width: 240px;
}
