.card-show {
  margin: 30px 30px 30px 40px;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 10px;
  padding: 30px;
  width: 900px;
  position: relative;
  top: -100px;
}

.show-container {
display: flex;
align-items: center;
align-items: flex-start;
}

.booking-card {
  margin: 30px;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 10px;
  padding: 30px;
  width: 400px;
  position: relative;
  top: -100px;


}

.booking-card-avatar {
  margin: 30px;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 10px;
  border-color: grey;
  width: 400px;
  padding: 20px;
  display: flex;
  align-items: center;

}

#title-show {
  padding-left: 150px;
  color: white
}

.card-location {
  padding-top: 30px;
}

.img-card-show {
  border-radius: 10px;
  width: 800px;

}

.avatar-booking-show {
  border-radius: 50%;
  height: 60px;
  padding-right: 20px;

}
