  <div class="footer">
    <div class="footer-logo footer-links">
    <p>
      <img src="https://i.ibb.co/PmWL75y/leaveyourshitlogo-2.png"/>
    </p>
      <p>LeaveYourShit</p>
    </div>
    <div class="footer-links">
      <a href="https://www.flaticon.com/"><i class="fas fa-icons"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
    <div class="footer-top">
      <a href="#">Top of the page</a>
    </div>
  </div>
