<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1501389446297-06c4c50b5ee8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);">
  <div class="container">
    <h1><strong>Leave your shit.</strong></h1>
    <p>Find luggage storage near you.</p>
    <a class="btn btn-primary" href="#">Find storage</a>
  </div>
</div>

<ul class="list-container">
  <li class="list-title">
    <h2>1 235 </h2>
    <p>happy users</p>
  </li>
  <li class="list-title">
    <h2>60 356</h2>
    <p>locations to store</p>
  </li>
  <li class="list-title">
    <h2>8.9 </h2>
    <p>in reviews</p>
  </li>
</ul>
<div class="how-it-works">
  <div class="list-title2">
    <h2>How it <strong>works</strong>...</h2>
  </div>

  <ol class="crazy-list">
    <div class="card" style="width: 18rem;">
      <img src="" class="card-img-top" alt="...">
      <div class="card-body">
        <li>Book online and receive directions</li>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <img src="" class="card-img-top" alt="...">
      <div class="card-body">
         <li>Drop off the luggage at one of the locations</li>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>

     <div class="card" style="width: 18rem;">
      <img src="" class="card-img-top" alt="...">
      <div class="card-body">
          <li>Enjoy the time without the burden of your luggage</li>
         <a href="#" class="btn btn-primary">Go somwhere</a>
      </div>
    </div>


    </div>

  </ol>
</div>
