// .map {
//   width: 50%;
//   height: 100vh;
//   position: sticky;
//   top: 0;
//   z-index: -1;
//   object-fit: cover;
// }

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
.fixed {
  position: sticky;
  height: 100px;
  top: 70px;
  background-color: white;
  z-index: 20;
}

.map-cards{
  width: 100%;
  margin-bottom: 48px;
}

.mapboxgl-canvas-container {
    height: 100vh;
}

.map-showpagecontainer{
  width: 100px;
}


@media only screen and (max-width: 480px) {
  #map{
  display: none ;
  }
}
