$rose: #f3d5ce;
$lightblue: #91d1d9;
$brightblue: #1cceca;
$darkblue: #008ab0;
$black: #222222;




.navbar-lewagon {
  justify-content: space-between;
  background: $black;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 1;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.dropdown img {
  box-shadow: 1px 1px 3px $black;
  transition: 0.5s;
  &:hover{
    box-shadow: none;
  }
}




.my-link{
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: white;
  padding: 20px;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  display: block;
  padding: 0.5rem 1rem;
  transition: 0.5s;
  &:hover {
    text-decoration: none;
    color: $blue;
  }
}

.btn-signin {
  background-color: $darkblue;
  border-radius: 5px;
  &:hover{
    background-color: #008ab0;
  }
}
